body, h1, h2, table, nav, tbody, input, caption, dl, header, fieldset, legend, main, 
.mw-parser-output, .portalborder, div.vector-header-container, div.mw-page-container,div#accueil_2017_en-tete, .vector-toc, div[class*="uls"], div.need_ref, div[id*="mp"],
.mw-helplink, .oo-ui-indicator-down, .oo-ui-iconWidget, .infobox-above.summary, a.oo-ui-icon-bell, a.oo-ui-icon-tray,
span[class*="oo-ui-dropdownWidget-handle"], div.oo-ui-popupWidget-head, a.oo-ui-buttonElement-button, .mw-mmv-post-image {
 background-color: #1e1e1e !important;
 background: #1e1e1e !important;
}

h1, h2, h3, h4, th, li, input, b, i, caption, .oo-ui-labelWidget, samp, span, textarea, div.mw-summary-preview, fieldset, td[style] > span.IPA,
div.thumbcaption, div.mw-parser-output, div[class*="hatnote"], div.metadata.plainlinks.sistersitebox.plainlist.sister-box.mbox-small, div.mw-widget-calendarWidget-item,
div.suggestions-result, div.special-label, div.suggestions-special, div.special-query, div[id*="mp"], div.mw-echo-ui-notificationItemWidget-content-message-header, 
td[class] > span[style*="white-space"],
tr > td.charts-hidm, tr > td > span.charts-hidm, tr > td > span[style*="font-stretch"] {
  color: #acacac !important;
}

a, .tocnumber, .toctext, label.toctogglelabel, span.toctext i {
  color: #58a6ff !important;
}

canvas {
  background-color: #acacac !important;
}

pre, code, .hll, tr::before, .mw-message-box-notice {
 background-color: #252525 !important;
 color: #acacac !important;
 border:0px !important;
}

img.mwe-math-fallback-image-inline, img.mwe-math-fallback-image-display, .helpContents-icon,
img[src="//upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Black_x.svg/16px-Black_x.svg.png"], a[href*="/wiki/Special:Preferences#mw-prefsection-rendering"],
img[src*="//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/12px-Loudspeaker.svg.png"] {
    filter: invert(90%) !important;
}

span[class*="icon-subtract"], del {
  background-color: #e75d53 !important;
}
span[class*="icon-add"], ins {
  background-color: #46a559 !important;
}

a.new, 
td.table-no, td[style*="background:#F6E4E7"],
span:is(.kd, .kn) {
  color: #FF7B72 !important;
}
td.table-yes, td[style*="background:#D4F7D4"] {
  color: #46a559 !important;
}
span:is(.na, .k, .nb, .kr, .vg) {
  color: #FFA657 !important;
}
td:is(.table-na, .no.table-no2),
span.linenos {
  background-color: #252525 !important;
}
span:is(.nc, .nf, .kt) {
  color: #D2A6D7 !important;
}
span[class^="s"], span:is(.nn, .c, .nv) {
  color: #A5D6FF !important;
}
td.table-partial, 
span:is(.c1, .cm, .o, .mi, .mf, .fm) {
  color: #b2b4b6 !important;
}

#footer-icons {
  background-color: #f2eee8 !important;
  filter: invert(1);
}

.main-top-left {
  background-image: none !important;
  flex: none !important;
}

div#vector-toc.vector-toc.vector-pinnable-element::after,
div#vector-page-tools.vector-page-tools.vector-pinnable-element::after {
  background:unset !important;
}

.vector-menu-tabs .mw-list-item.vector-tab-noicon, .vector-page-toolbar-container .vector-menu-dropdown {
 border-bottom:unset !important;
 margin:0 !important;
}

input.vector-search-box-input {
 border: 1px solid #343434 !important;
}

a, table, textarea, table[class*="vcard"] > tbody > tr, tbody, tr[class] > td, td[class*="vcard"], div.thumbinner, th, hr, ol, caption, img, div[class*="navbox"], div[class*="infobox"], 
div[class*="infobox"] > div >  p,  div[class*="infobox-image"], div[class="thumbimage"], div[class="thumbinner"], div[class="thumbcaption"], div[class*="boite-grise"], 
div[class*="entete"], div[class*="bandeau"], div[class*="reference-cadre"], .navbox-container, .bandeau-portail, .catlinks, a[class*="mw-logo"], .mw-footer, .bordered, 
.bloc, .nickname, div[style*="lavender"], .thumb, .entete, .map, #footer-icons, .infobox-above.summary, .mw-parser-output .ib-settlement .infobox-subheader, .infobox, 
.mw-parser-output .ib-settlement-cols-cell, .mw-parser-output .quotebox, .theader, div.mw-inputbox-centered, div.uls-language-list, div#accueil_2017_bloc-liens, 
td.largestCities-cell-background, td.infobox-subheader, div.sidebar-list-title, .portalborder, section#mwe-popups-settings, table.droite > tbody > tr > td, 
table[style*="width:100%;background:none"] > tbody > tr > td > table > tbody > tr > td, div.barbox > div, td.infobox-below, table.navbox > tbody > tr > td, 
table.toccolours > tbody > tr, div.NavContent, table.wikitable > tbody > tr > td, section.mf-section-4 > table > tbody > tr > td, td.navigation-only, 
div.mw-parser-output > table > tbody > tr > td, .fieldsetlike .legendtextlike, .oo-ui-popupWidget-popup, div.bandeau-cell > div > div > div, div[class*="uls"], 
div.vector-toc, div.mwe-popups-container, div.NavFrame, div.NavHead, div.navbox-abovebelow > div, div.portal-bar, div.sister-bar, .navbox-abovebelow, .navbox-even,
.side-box, div[class*="wikiEditor-ui"], .ext-WikiEditor-ResizingDragBar, .editOptions, div.collapsible-list > div, .vector-dropdown-content, 
#pagehistory li.selected, .navbox-list, .need_ref_tag, div.mw-mmv-image-metadata {
  border : 1px solid #343434 !important;
  background-color : #343434 !important;
  background : #343434 !important;
}


h2, div[id*="accueil_2017_en-tete"], .mw-parser-output tr + tr > .navbox-abovebelow, .mw-parser-output tr + tr > .navbox-group, 
.mw-parser-output tr + tr > .navbox-image, .mw-parser-output tr + tr > .navbox-list, .mp-box, 
.portal-bar, .sister-bar, .navbox, .navbox-title, .thumb, .side-box {
 border-bottom: solid 1px #343434 !important;
 border-color : #343434 !important;
}

.entete, .infobox_v2 {
 color: #747474 !important;
}

.side-box-text > ul, .sister-bar-content {
 border-top: solid 1px #343434 !important;
}

.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td, .wikitable, .infobox {
 border-top: solid 1px #343434 !important;
 border-left: solid 1px #343434 !important;
 border-right: solid 1px #343434 !important;
 border-bottom: solid 1px #343434 !important;
 color :unset !important;
}

div[class*="vector"], .vector-page-titlebar, .vector-search-box-input {
 box-shadow:unset !important;
}

table.infobox_v2 > tbody > tr > td > span {
 text-shadow:unset !important;
}

#footer-icons {
 filter:invert(0) !important;
}

div.mw-parser-output > blockquote {
 border-left: 4px solid #343434;
}

.mw-list-item > a, .vector-menu-dropdown > .vector-menu-heading {
 padding: 6px !important;
 margin: 4px !important;
}

.vector-search-box-auto-expand-width {
 margin-left: 0px !important;
}

.mw-mmv-ttf-ellipsis, .mw-mmv-ttf-ellipsis::before, .mw-mmv-info-box, .mw-mmv-permission-text-fader {
 background-image: unset !important;
 background-color: transparent !important;
 box-shadow: unset !important;
}